<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>表單</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}">
    <script type="text/javascript">
        function chk() {
            if (document.table.FQ.value == '') {
                alert('第一題未填');
                document.send.account.focus();
                return false;
            }
            if (document.table.SQ.value == '') {
                alert('第二題未填');
                document.send.account.focus();
                return false;
            }
            if (document.table.TQ.value == '') {
                alert('第三題未填');
                document.send.account.focus();
                return false;
            }
            if (document.table.ForQ.value == '') {
                alert('第四題未填');
                document.send.account.focus();
                return false;
            }
            if (document.table.FivQ.value == '') {
                alert('第五題未填');
                document.send.account.focus();
                return false;
            }
            if (document.table.SixQ.value == '') {
                alert('第六題未填');
                document.send.account.focus();
                return false;
            }
            if (document.table.SevQ.value == '') {
                alert('第七題未填');
                document.send.account.focus();
                return false;
            }
            if (document.table.EigQ.value == '') {
                alert('第八題未填');
                document.send.account.focus();
                return false;
            }
            if (document.table.NinQ.value == '') {
                alert('第九題未填');
                document.send.account.focus();
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>順應年代，科技的評分表，這是給偶最棒的鼓勵跟改善!</h1>
        <form method="POST" name="table">
            <h3>以下有九題，請評斷這次見面的感受，每次的評分會做一個加總，非常認同對這個選項的總分加2分而認同為1分，反之則扣2分及1分，普通為0分</h3>
            {{ form.csrf_token() }}
            <p>第一題:</p>
            <div class="form">
                {{ form.FQ.label }} {{ form.FQ }}
            </div>
            <hr />
            <br />
            <p>第二題:</p>
            <div class="form">
                {{ form.SQ.label }} {{ form.SQ }}
            </div>
            <hr />
            <br />
            <p>第三題:</p>
            <div class="form">
                {{ form.TQ.label }} {{ form.TQ }}
            </div>
            <hr />
            <br />
            <p>第四題:</p>
            <div class="form">
                {{ form.ForQ.label }} {{ form.ForQ }}
            </div>
            <hr />
            <br />
            <p>第五題:</p>
            <div class="form">
                {{ form.FivQ.label }} {{ form.FivQ }}
            </div>
            <hr />
            <br />
            <p>第六題:</p>
            <div class="form">
                {{ form.SixQ.label }} {{ form.SixQ }}
            </div>
            <hr />
            <br />
            <p>第七題:</p>
            <div class="form">
                {{ form.SevQ.label }} {{ form.SevQ }}
            </div>
            <hr />
            <br />
            <p>第八題:</p>
            <div class="form">
                {{ form.EigQ.label }} {{ form.EigQ }}
            </div>
            <hr />
            <br />
            <p>第九題:</p>
            <div class="form">
                {{ form.NinQ.label }} {{ form.NinQ }}
            </div>
            <hr />
            <br />
            <!-- {{ form.submit }} -->
            <p class="submit"><input type="submit" onclick="chk();" value="送出資料"></p>
        </form>
    </div>
</body>

</html>
